addict
colorlog
easydict
einops
h5py
imgaug==0.4.0
ipdb
loralib
matplotlib
numpy==2.4.2
opencv_python==4.13.0.92
pandas==3.0.2
Pillow==12.0.0
pycocotools==2.0.11
PyYAML
rich
ruamel.base
scipy==1.17.1
seaborn
setuptools==80.10.2
supervision
termcolor
timm
tqdm
transformers==4.48.3
wandb
yapf
scikit-image
diffusers==0.37.0